.contact-container{
    width: 65%;
    margin: auto;
}
.contact-container-p{
   font-family: kanit;
   font-weight: 200;
}

.my-accordion{
    background-color: #19191d;
    color: white;
}

.accordion-button:not(.collapsed),.my-accordion:focus, .my-accordion:hover {
    background-color:#19191d;
    color: #FCEE21;
}

.header-faq{
    font-size: 20px;
}

@media(max-width: 767px){
    .contact-container{
        width: 85%;
    
    }
    .contact-container-p{
        font-size: 14px;
    }
    .header-faq{
        font-size: 16px;
    }
}