.home-banners img{
  border-radius: 10px;
  transition: all 0.4s ease;
  }
  .home-banners img:hover{
      transform: scale(1.02);
      box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6);
      }
  
  .t-seccion{
      text-transform: uppercase;
      font-weight: 300;
      font-family: "Kode Mono", serif;
      color: white;
      font-size: 32px;
  
  }
  
  .home-type img{
      border-radius: 10px !important;
      object-fit: cover !important;
  }
  
  .divider{
    height: 60px;
}
.horizontal-scrollable {
    overflow-x: auto ;
    padding: 10px ;
  }
  .horizontal-scrollable .row {
    flex-wrap: nowrap ;
    display: flex ;
  }
 

  .horizontal-scrollable::-webkit-scrollbar {
    height: 8px;
  }
  
  .horizontal-scrollable::-webkit-scrollbar-track {
    background: hsla(240, 2%, 37%, 0.2);
    border-radius: 10px;

  }
    
    .horizontal-scrollable::-webkit-scrollbar-thumb {
      background: #5c5c607f;
      border-radius: 10px;
    }
  
    .faq-home-h3{
      font-family:"Kanit", serif;
      color: white;
      font-weight: 400;
      font-size: 45px;
    }
    
    .faq-home-p{
      font-family:"Kanit", serif;
      color: #AFAFB2;
      font-size: 36px;
    }
    .faq-home-p-a{
      font-family:"Kanit", serif;
      color: #08B5F9;
    }
  
    .faq-home-button{
      margin: auto;
      width: 80%;
      margin-top: 20px;
      background-color: #FCEE21;
      border-radius: 10px;
      font-weight: 500;
      font-family: "Kode Mono", serif;
      color: black;
      border: none;
      font-size: 30px;
      padding: 3px 13px;
      transition: all ease 0.4s;
      text-decoration: none;
    }
  
    .faq-home-button:hover{
      transform: scale(1.05) !important;
    }
  
    @media(max-width: 992px){
      .divider{
        height: 20px;
    }
    }

    @media(max-width: 767px){
      .faq-home-h3{
        font-size: 28px;
      }
      
      .faq-home-p{
        font-size: 18px;
      }
    
      .faq-home-button{
   
        font-size: 25px;
   
      }
    }