*{
    box-sizing: border-box;
}

body{
margin: 0;
font-family:"Kanit", serif;
font-weight: 400;
font-style: normal;
overflow-x: hidden;
background-color: black;
/*background-attachment: fixed;*/
background-size: cover;
background-image: url(https://res.cloudinary.com/dshjlidcs/image/upload/v1738526759/fondo-finalboss-opacity_wgwrxe-min_k3shyv.png) ;
background-repeat: repeat-y;
}

.home-container{
    width: 80%;
    margin: auto;
}

.oculto{
    display:none;
}

@media(max-width: 992px){
    .container{
        width: 80%;
        margin: auto;
    }
    .reviews-home{
        display:none;
    }

  }