.my-modal-login{
    background-image: url("https://res.cloudinary.com/dshjlidcs/image/upload/v1738526760/oaomqvzfdzp5we50d9ka-min_crsfbd.png");
    border: 0;
    height: 55vh;
    background-size: cover;
}
.my-modal-sus{
    background-image: url("https://res.cloudinary.com/dshjlidcs/image/upload/v1738527220/web-img/o7qykckeyaqyrrzjbwxz.png");
    border: 0;
    height: 55vh;
    background-size: cover;    
}
.my-modal-text{
   font-family:"Kanit", serif;
   font-weight: 300;
    font-size: 18px;
    color: #AFAFB2;
}

.sus-modal-text{
   font-family:"Kanit", serif;
    font-weight: 600;
    font-size: 50px;
}

.sus-modal-text span{
    font-weight: 200;
    font-size: 16px;
}