.home-button {
    width: 40%;
    position: absolute;
    bottom: 5%;
    margin-left: -20%;
} 




.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}

.order-card {
    position: relative;
    border-radius: 15px;
    width: 600px;
    padding: 24px;
    text-align: center;
    background-image: url(https://res.cloudinary.com/dshjlidcs/image/upload/v1738526761/uvyx3nvtoxpfwynbwgry-min_cammqk.png);
    background-size: cover;
    background-position: center center;
    min-height: 800px;
}

.order-success-title{
    margin-top: -20px;
    margin-bottom: 20px;
    color: #3A39FF;
    font-size: 20px;
    text-align: center;
    font-weight: 600;

}

.order-details{
    width: 40%;
    margin-top: 45%;
    color: black;
    margin-left: 30%;
    text-align: left;
}
