.bg-image {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dshjlidcs/image/upload/v1738527220/web-img/wh0uqjc5on0dx3e3rp44.png);
  background-size: cover;
  background-position: right top;
}

.form-container {
  max-width: 100%;
  width: 100%;
  color: #5c5c60;
  padding-bottom: 20px;
}

.my-form-control {
  background-color: #29292c;
  padding: 5px 10px;
  color: #ededef;
  border: none;
  border-radius: 50px;
}
.my-form-control:focus,
.my-form-control:active {
  outline: 1px solid #fced2186;
  color: #ffffff;
  box-sizing: border-box;
}

.profile-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.form-control {
  border-radius: 20px;
}
.my-form-column {
  margin-left: -5%;
  margin-top: -5%;
}

.btn-primary {
  background-color: #3a39ff;
  color: #fff;
  font-weight: bold;
}

.btn-secondary {
  font-size: 20px;
  border: none;
  background-color: transparent !important;
  color: #08b5f9 !important;
  font-weight: 400;
  text-decoration: underline;
}

.edit-btn{
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
}

.profile-container-log {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-header-log {
  display: flex;
  margin-bottom: 20px;
}

.profile-avatar-container-log {
  flex-shrink: 0;
}

.profile-avatar-log {
  margin-left: 5%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info-log {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 10%;
  color: #fff;
}

.profile-name-log {
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-email-log {
  font-family: kanit;
  font-size: 20px;
  margin-top: -10px;
  color: #afafb2;
  font-weight: 200;
}

.profile-address-log {
  text-transform: capitalize;
  font-family: kanit;
  font-size: 20px;
  color: #afafb2;
}

.profile-stats-log {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.followers-log,
.following-log {
  font-family: kanit;
  font-size: 18px;
  background-color: #5c5c60;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: 300;
}

.profile-description-log {
  font-family: kanit;
  font-size: 22px;
  font-weight: 300;
  background-color: #19191d;
  padding: 10px 16px;
  border-radius: 10px;
  color: #eee;
}

.user-list-btn {
  background-color: blue;
  color: white;
  font-family: kanit;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: 300;
  border: none;
  margin-top: -5px;
  font-size: 18px;
  text-align: center;
}

.h2-perfil {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: -20px;
}

.users-offcanvas {
  border: none;
  background-color: #19191d;
}

.user-name-link {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.user-name-link:hover {
  color: #08b5f9;
}

.user-info {
  margin-left: 20px;
}
.user-description {
  font-family: kanit;
  font-weight: 200;
  font-size: 16px;
  color: #afafb2;
  margin-top: -10px;
  margin-right: 120px;
}
.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-avatar-container-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-seguir {
  margin-top: 5px;
  color: #fcee21;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-seguido {
  margin-top: 5px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
}

.loging-data{
  width: 60%;
  margin: auto;
  font-size: 2rem;
  color: #eee;
}
@media (max-width: 1400px) {
  .user-description {
    display: none;
  }
}
@media (max-width: 767px) {
  .my-form-column {
    margin: auto;
  }

  .user-name-link {
    font-size: 1rem;
  }

  .btn-seguido,
  .btn-seguir {
    margin-top: 0;
    font-size: 15px;
  }

  .profile-avatar-log {
    width: 100px;
    height: 100px;
  }

  .followers-log,
  .following-log {
    display: none;
  }

  .profile-info-log {
    margin-left: 0%;
  }
}
