.btn-color {
    background-color: #6c757d !important; 
    border-color: #6c757d !important;
    color: white !important; 
}

.btn-color:hover {
    background-color: #5a6268 !important; 
    border-color: #545b62 !important;
}
.__preview_image__ {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
}