

.body-suscription {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.h3-suscription {
    font-family: "Kanit", serif;
    margin: auto;
    color: #888888ea;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.card {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.basic {
    background-color: #5C5C60;
    color: #fff;
    margin-right: -50px;
    z-index: 0;
    transition: all ease 0.7s;
    width: 400px
}

.premium {
    background-color: #3A39FF;
    color: #fff;
    margin-left: -50px;
    z-index: 0;
    transition: all ease 0.7s;
}

.icon-suscription{
    font-size: 10px;
    margin-top: -5px;
    margin-right: 5px;

}
.icon-suscription-2{
    font-size: 13px;
    margin-top: -5px;
    margin-right: 5px;
    color: #FCEE21;

}
.premium-img{
    width: 45% !important;
    margin-top: -55px !important;
}
.card img {
    width: 150px;
    margin: 20px auto;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    color: #fff;
    font-size: 20px;
    line-height: 1.6;
}

.premium .price {
    font-size: 2.5rem;
    color: #fff;
}


.text {
    font-size: 1.15rem;
}


@media(max-width: 767px){
    .h3-suscription{
        width: 80%;
    }
    .basic{
        display: none;
    }
    .premium{
        width: 80%;
        margin: auto;
    }
}